<ng-container *ngIf="events$ | async as events; else loading">
  <h2 class="text text-3xl font-bold text-dark pb-8">Events Near Me</h2>

  <app-filter (search)="handleSearch($event)"></app-filter>

  <ng-container *ngIf="events.length > 0; else noResults">
    <app-calendar-card [events]="events"></app-calendar-card>
  </ng-container>

  <ng-template #noResults>
    <div class="text-center py-10">
      <p class="text-dark text-lg">No Items Found.</p>
    </div>
  </ng-template>

</ng-container>

<ng-template #loading>
  <app-loading-screen></app-loading-screen>
</ng-template>